// ele公共样式
.el-form-item{margin-bottom: 15px !important;}

// 弹框
.el-dialog__body{
    padding: 20px !important;
}
// 媒体查询
@media only screen and (max-width:762px){
    .login-container .login-form{margin: 10px;}
}